
language: go

go:
  - 1.7

addons:
  postgresql: "9.5"

services:
  - postgresql

install: make vendor_get

before_script:
  - psql -V
  - psql -c 'create database dbname;' -U postgres
  # - psql -a -d hey -f schema/v0.1.sql -U postgres
  # - cp config/config.json.travis config/config.json

script:
  - source .env.travis
  - make test