{
	"ServiceSettings": {
		"ListenAddress": "192.168.1.36:65001",
		"Mode": "dev",
		"TimeoutRequest": 200
	},
	"StorageSettings": {
		"Network": "",
		"Host": "127.0.0.1",
		"Port": "",
		"User": "user",
		"Password": "pass",
		"Database": "hey"
	}
}